@import "~@angular/material/theming";

$custom-typography: mat-typography-config(

  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(122px, 112px, 300),
  $display-3:     mat-typography-level(66px, 56px, 400),
  $display-2:     mat-typography-level(55px, 48px, 400),
  $display-1:     mat-typography-level(44px, 40px, 400),
  $headline:      mat-typography-level(34px, 32px, 400),
  $title:         mat-typography-level(30px, 32px, 500),
  $subheading-2:  mat-typography-level(26px, 28px, 400),
  $subheading-1:  mat-typography-level(25px, 24px, 400),
  $body-2:        mat-typography-level(24px, 24px, 500),
  $body-1:        mat-typography-level(24px, 25px, 400),
  $caption:       mat-typography-level(22px, 20px, 400),
  $button:        mat-typography-level(24px, 26px, 500),
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);


$mat-me: (
  Main: #00529c,
  Light: #b2f7ff,
  Dark: #4a94ba,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-me, Main, Light, Dark);

$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-suffix 
{
  width:1.5em
}